*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: var(--color-background);
  font-family: 'Sansita Swashed';

}

a{
  text-decoration: none;
  color: unset;
  cursor: pointer;

}
